project:
  type: website
  output-dir: docs
  resources:
    - googled388468d54a080bd.html

website:
  title: ""
  site-url: "https://huseyinatahaninan.github.io"
  page-navigation: true
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: blog.qmd
        text: Blog

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    math: katex
    link-external-newwindow: true
    page-navigation: true
    canonical-url: true
